## Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Visual Studio cache/options
.vs/

## Build output
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/

## Logs and test output
[Ll]og/
*.log
[Tt]est[Rr]esult*/

## NuGet packages/artifacts
*.nupkg
*.snupkg
.nuget/
packages/
!packages/build/

## Misc temp/cache files
*.cache
*.tmp
*.temp
*.pidb
*.svclog
